@page "/GuardarResto"
@rendermode InteractiveServer
@using BlazorSignalRApp.Modules

<h1>Guardar Restaurante</h1>
<button class="btn btn-primary" @onclick="GuardarRestaurante">Guardar Restaurante</button>

<h2>Levantar Restaurante</h2>
<button class="btn btn-primary" @onclick="LevantarRestaurante">Levantar Restaurante</button>
@code {
    private async Task GuardarRestaurante()
    {
        await RestaurantRepository.GuardarEstados();
    }
    private async Task LevantarRestaurante()
    {
        await RestaurantRepository.LoadStates();
    }
}

